PORT=3000
HOST=127.0.0.1
BRAND_NAME=swearingbunny
BRAND_BADGE=LESS GRIND. MORE GLORY.
BRAND_TAGLINE=Your game. Your goals. Next level.
WHATSAPP_NUMBER=1234567890
INSTAGRAM_USERNAME=swearingbunny
CURRENCY=$
DATA_DIR=./data
